<% include partials/header %>
<div class="modal-dialog forgot-dialog text-center">
	<div class="row">
		<div class="col-sm-12 main-section">
			<div class="modal-content">
				<div class="col-12 form-input">
					<legend class="text-field form-header"><strong>Account Setting</strong></legend>
					<p class="text-field">Forgot your password or want to update your account settings? Enter your email and get a link to complete the process</p>
					<form action="/forgot" method="POST">											
						<div class="form-group text-left login-email">
							<label for="email" class="text-field">Email</label>
							<input type="email" name="email" autofocus class="form-control" id="email" placeholder="Enter Email" required>
						</div>
						<button class="btn btn-secondary">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>