<% include partials/header %>
	<h1 class="text-center">Hello and Welcome to<br>The Center of Equity and Inclusion</h1>
	<a href ="/login" class="btn btn-success btn-lg">Existing User</a>
	<a href ="/register" class="btn btn-success btn-lg">New User</a>


<% include partials/footer %>