<% include partials/header %>
				
	<div class="jumbotron text-center">
  		<div class="container">
    		<h1 class="display-4">Welcome to the Center of Equity and Inclusion</h1>
    		<hr>
    		<p class="lead">University of Washington | Tacoma</p>
    		<a href ="/login" class="btn btn-outline-success btn-lg">Existing User</a>
			<a href ="/register" class="btn btn-outline-success btn-lg">New User</a>
  		</div>
	</div>		
		
	

<% include partials/footer %>