<% include partials/header %>
<a href = "/">Homepage</a>
<div class="container-fluid">
	<h1 class="text-center">Hello and Welcome to<br>The Center of Equity and Inclusion</h1>

	<h4>Please sign in below</h4>
	<form action="/login" method="POST">
	  	<div class="form-group row">
	   		<label for="email" class="col-lg-2 col-form-label">Email:</label>
	   		<div class="col-lg-2">
			    <input type="email" class="form-control form-control-sm" id="email" name="username">
			</div>
	 	</div>
		<div class="form-group row">
			<label for="password" class="col-lg-2 col-form-label">Password:</label>
			<div class="col-lg-2">
			    <input type="password" class="form-control form-control-sm" id="password" name="password">
			</div>
		</div>
		<div class="form-group row">
			<label for="reason" class="col-lg-2 col-form-label">Reason for Visiting With us Today:</label>
			<div class="col-lg-2">
			    <select class="form-control form-control-sm" id="reason" name="reason">
			  		<option value="Reason1">Give a reason here</option>
					<option value="Reason2">Give a reason here</option>
					<option value="Reason3">Give a reason here</option>
					<option value="Reason4">Give a reason here</option>
				</select>
			</div>
		</div>
		<button class="btn btn-secondary">Login</button>
	</form>
	<h4>Not Yet a User? <a href="/register">Register Here</a></h4>
</div>


<% include partials/footer %>