<% include partials/header %>
<div class="modal-dialog forgot-dialog text-center">
	<div class="row">
		<div class="col-sm-12 main-section">
			<div class="modal-content">
				<div class="col-12 form-input">
					<legend class="text-field form-header"><strong>Reset Password</strong></legend>
					<form id="validate-form"> action="/reset/<%= token %>" method="POST">						
						<div class="form-group text-left login-password">
							<label for="password" class="text-field">New Password</label>
							<input type="password" name="password" autofocus class="form-control" placeholder="Enter New Password" required>
						</div>
						<div class="form-group text-left login-password">
							<label for="password2" class="text-field">Confirm Password</label>
							<input type="password" name="password2" autofocus class="form-control" placeholder="Confirm Password" required>
						</div>
						<button class="btn btn-secondary">Update Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>