body {
	color:white;	
	background-color: #4b2e83;
	
	font-family:  'Slabo 40px', serif;
}

.dateTimeFilter {
	margin: 0 auto;
}

#emailList {
	word-wrap: break-word;
}

.dataTables_wrapper {
	background-color: #ECE9E2;
}

.dataTables_wrapper .dataTables_length {
	padding-left: 15px;
	font-weight: bold;
}

.dataTables_wrapper .dataTables_filter {
	padding-right: 15px;
	font-weight: bold;
}

table.dataTable.no-footer {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table {
	background-color: white;
}



#bootstrap-override .table .thead-dark th{
	background-color: #4b2e83;
}

.modal-header {
	display: block;
}

tr {
	background-color: white;
}

td:nth-child(1), td:nth-child(2), td:nth-child(5) {
   text-transform: capitalize;
}

.table-hover tbody tr:hover td {
	background-color: rgba(75, 46, 131,0.2);
}

.user-table {
	margin: 0 auto;

}

.text-muted {
	color: red !important;
	display: none;
}

.jumbotron{
	margin-top: 20vh;
	color: #4b2e83;
	background-color: #ECE9E2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-weight: 700;
	outline: 10px double aliceblue;
}

.user-table .jumbotron {
	background-color: #ECE9E2;
	outline: none;
	border-radius: 0;
}

.text-field {
	color: #4b2e83;
}

.form-header {
	margin-top: 20px;
	color: #4b2e83;
}

.forgot-dialog {
	max-width: 580px;
}

.register-dialog {
	max-width: 600px;
}

.register-dialog .main-section {
	margin-top: 70px;
}

.main-section.login-section {
	margin-top: 100px;
}

.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}

.modal-content {
	background: rgb(255,255,255);
	padding: 0 18px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	outline: 10px double aliceblue;

}

#myModal .modal-content, #deleteModal {
	background: white;
	color: #4b2e83;
	padding: 0 18px;
	border-radius: 10px;
}

.user-img img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.user-img {
	margin-top: -60px;
	margin-bottom: 45px;
}

.form-group {
	margin-bottom: 25px;
}

.form-group input {
	height: 42px;
	background-color: rgba(75, 46, 131,0.05);
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 54px;
	color: #85754d;
}

.dateTimeFilter .form-group input {
	height: 30px;
	padding-left: 10px;
	background-color: white;
}

.form-group input:focus {
    color:#4b2e83;
 }

.login-email::before {
	font-family: 'Font Awesome 5 Free';
	content: "\f1fa";
	font-weight: 900;
	position: absolute;
	font-size: 22px;
	left: 28px;
	padding-top: 40px;
	color: #4b2e83;
}

.login-password::before {
	content: "\f023";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	font-size: 22px;
	left: 28px;
	padding-top: 40px;
	color: #4b2e83;
}

.login-user::before {
	content: "\f2c2";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	font-size: 22px;
	left: 20px;
	padding-top: 40px;
	color: #4b2e83;
}

.register-password::before {
	content: "\f023";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	font-size: 22px;
	left: 20px;
	padding-top: 40px;
	color: #4b2e83;
}

.form-input button {
	width: 40%;
	margin: 5px 0 25px;
}

.btn-secondary {
	background-color: #4b2e83;
	font-size: 19px;
	border-radius: 5px;
	padding: 7px 14px;
	border: 1px solid #daf1ff;
}

.btn-secondary:hover {
	background-color: #b7a57a;
	border: 1px solid #daf1ff;
}

.btn-outline-success {
	color: #4b2e83;
	border-color: #4b2e83;
}

.btn-outline-success:hover {
	background-color: #4b2e83;
	color: white;
}

.forgot {
	padding: 5px 0 25px;
}

.forgot a, .register a, .register, .login, .login a {
	color: #4b2e83;
}

.totalCounts {
	color: #4b2e83;
	outline: 5px double aliceblue;
}

.transparent-background {
	background-color: #ECE9E2;

}

.stat-text {
	font-size: 2.0rem;
}